<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Cards</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pokecom/style4.css' %}"/>
</head>
<body>
    <form class="d-flex" role="search" method="POST">
    {% csrf_token %}
         <input class="form-control me-2" type="search" placeholder="Search" name="procurar"
                required aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <form method="post">
        {% csrf_token %}
        {% if pesquisado %}
            <ul>
                {% for poke in poke_sel %}
                    <section>
                        <input type="radio" name="opcao_p" value="{{poke.id}}" id="poke {{forloop.counter}}">
                        <label for="poke {{forloop.counter}}">
                        <img width="150px" height="auto" hspace="40px" vspace="20px" src="{{poke.imagem.url}}">
                        {{poke.pokemon}}
                        {{poke.raridade}}
                        {{poke.colecao}}
                        {{poke.estado}}
                        {{poke.preco}}
                        {{poke.vendedor}}
                        </label>
                    </section>
                {% endfor %}
            </ul>

        {% else %}
            <ul>
                {% for carta in cartas_disp %}
                    <section>
                        <input type="radio" name="opcao" value="{{carta.id}}" id="carta {{forloop.counter}}">
                        <label for="carta {{forloop.counter}}">
                                <img width="150px" height="auto" hspace="40px" vspace="20px" src="{{carta.imagem.url}}">
                                {{carta.pokemon}}
                                {{carta.raridade}}
                                {{carta.colecao}}
                                {{carta.estado}}
                                {{carta.preco}}
                                {{carta.vendedor}}
                        </label>
                    </section>
                {% endfor %}
            </ul>
        {% endif %}

        <input type="submit" value="Buy" formaction="{% url 'pokecom:conf_compra' %}">
    </form>

    <div class="py-5 text-center">
        <a href="{% url 'pokecom:home' %}">Home page</a>
    </div>
</body>
</html>
