{% extends "pokecom/index.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% block auth %}
    <nav class="navbar navbar-expand-sm navbar-transparent bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'pokecom/images/Custom-Icon-Design-Pretty-Office-8-User-blue.256.png' %}" alt="user_icon"
                     width="50" height="50" class="rounded-pill">
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mynavbar"
                    aria-controls="mynavbar"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: #000000;"></span>
            </button>

            <a href="{% url 'pokecom:logout' %}" class="btn btn-primary btn-sm">Logout</a>

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto" id="centrar">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" style="font-size: 20px; color: #000000;"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                            Buy
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="#" class="dropdown-item">Buy Cards</a></li>
                            <!-- Add more categories if wanted -->
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" style="font-size: 20px; color: #000000;"
                        id="navbarDropdown2"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                            Submition
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a href="{% url 'pokecom:fazer_upload' %}" class="dropdown-item">Sell Cards</a></li>
                            <li><a href="#" class="dropdown-item">Trade Cards</a></li>
                            <!-- Add more categories if wanted -->
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" style="font-size: 20px; color: #000000;"
                         id="navbarDropdown3"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                            Trade
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <li><a href="#" class="dropdown-item">Trade Cards</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" style="font-size: 20px; color: #000000;"
                           id="navbarDropdown4" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Tournaments</a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a href="{% url 'pokecom:criar_torneios' %}" class="dropdown-item">Create Tournament</a></li>
                            <li><a href="{% url 'pokecom:torneios' %}" class="dropdown-item">Search Tournament</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if request.user %}
        <p class="ms-3">{{request.user.username}}</p>
    {% endif %}

{% endblock %}